body{ margin:0px;
}
html{
	font-family: Cereal, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
	sans-serif;
  font-size: 1.05rem; /* font-size should be 16px, but there are styles that rely on "em" */
  line-height: 1.43;
  color: #222222;
  
} 

main{
	margin-left:20px;
	margin-right:20px;
}
h1{
	text-align:center;
}
.navbar ul{
	list-style-type:none;
	background-color: grey;
	padding:0px;
	margin:0px;
	overflow:hidden;
}
.navbar a{
	color:white;
	text-decoration:none;
	padding:15px;
	display:block;
	text-align:center;
}
.navbar a:hover{
	background-color:hs1(0,0%, 10%);
}
.navbar li{
	float:left;
}
.contact {
	background-color:lightblue;
}
.firstpage {
	background-color:lightblue;
}
.washing{
	background-color:lightblue;
}
.microwave{
	background-color:lightblue;
}
.freeze{
	background-color:lightblue;
}
.myimage{
	width:10%;
	height:auto;
}
h1{
	color:white;
	padding-top:10px;
	text-align:center;
	font-size:60px;
	font-family:timesnewroman;
}
input{
	background-color:white;
	width:70%;
	margin-left:12%;
	font-size:20px;
	padding:16px;
	border-radius:10px;
	border-color:black;
	margin-bottom:20px;
}
textarea{
	background-color:white;
	width:70%;
	margin-left:12%;
	font-size:20px;
	padding:16px;
	border-radius:10px;
	border-color:black;
	margin-bottom:20px;
}
input:focus-within{
	outline:none;
	border-color:lightgreen;
	border-width:3px;
}
textarea:focus-within{
	outline:none;
	border-color:lightgreen;
	border-width:3px;
}
button{
	background-color:lightgreen;
	border-radius:20px;
	border-color:black;
	font-size:22px;
	padding:10px 18px;
	text-align:center;
	display:flex;
	margin:auto;
}
button:hover{
	opacity:80%;
	cursor:pointer;
}
	  